<!--
Copyright (c) 2015 - 2020 Ana-Cristina Turlea <turleaana@gmail.com>

Permission to use, copy, modify, and distribute this software for any
purpose with or without fee is hereby granted, provided that the above
copyright notice and this permission notice appear in all copies.

THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
-->

<% if @active_session_neterminal.nil? %>

    <h1>Nicio sesiune activa</h1>
<% else %>

    <br/>
    <div class="alert alert-info">
      Pana acum au evaluat <%= @nrOfStudentsNeterminal %> studenti din <%= @neterminal_tokens.length %>
    </div>
    <div class="well">
      <div class="pull-right">
        <%= link_to evaluation_session_generate_path(@active_session_neterminal.id), remote: true, class: 'btn btn-primary token-btn btn-no-padding' do %>
        <span class="btn-label">
    		<span class="fa fa-refresh"></span>
        </span>Genereaza Token-uri
        <% end %>
        <% if @neterminal_tokens and @neterminal_tokens.any? %>

            <%= link_to evaluation_session_get_tokens_path(@active_session_neterminal.id), class: 'btn btn-primary token-btn btn-no-padding',  download:true  do %>
        <span class="btn-label">
			<span class="fa fa-download"></span>
        </span>
                Descarca Token-uri
            <% end %>

        <% end %>


      </div>

      <div class="clearfix">
        <h4>
          Perioada de evaluare:
          <b> <%= @active_session_neterminal.start_date.strftime('%d/%m/%y') %>
            - <%= @active_session_neterminal.end_date.strftime('%d/%m/%y') %></b>
          <span style="margin-left: 10px;">    <b> Mai
         sunt <%= (@active_session_neterminal.end_date - @active_session_neterminal.start_date).to_i %>
            zile! </b></span>
        </h4>

        <div class="col-md-3 pull-right" style="padding-right: 0px;">

          <%= form_tag activities_neterminal_list_path, remote: true, class: "form-horizontal form", style: "display:inline;" do %>
              <%= select_tag :department, options_from_collection_for_select(@departments_select, 'id', 'name', '0'), include_blank: 'Toate', class: 'form-control ', :onChange => 'your_onchange_handler()' %>
          <% end %>
        </div>

        <h4>
          An universitar: <b> <%= @active_session_neterminal.year %> - <%= @active_session_neterminal.year + 1 %>,</b>
          <span style="margin-left: 10px;">  Semestrul: <b> <%= @active_session_neterminal.semester %></b></span>

        </h4>


        <% if !@active_session_neterminal.form.nil? %>
            <h4>
              Chestionar Curs:
              <b><%= link_to @active_session_neterminal.form.title, @active_session_neterminal.form, remote: true %></b>
            </h4>
        <% end %>
        <% if !@active_session_neterminal.formS.nil? %>
            <h4>
              Chestionar Seminar:
              <b><%= link_to @active_session_neterminal.formS.title, @active_session_neterminal.formS, remote: true %></b>
            </h4>
        <% end %>
        <% if !@active_session_neterminal.formL.nil? %>
            <h4>
              Chestionar Laborator:
              <b><%= link_to @active_session_neterminal.formL.title, @active_session_neterminal.formL, remote: true %></b>
            </h4>
        <% end %>
        <% if !@active_session_neterminal.formP.nil? %>
            <h4>
              Chestionar Proiect:
              <b><%= link_to @active_session_neterminal.formP.title, @active_session_neterminal.formP, remote: true %></b>
            </h4>
        <% end %>
      </div>
    </div>

    <div class="table-responsive">
      <table  id='active2' class="table table-striped table-hover"cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Materie</th>
          <th>Profesor</th>
          <th>Tip Activitate</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody class="activities_neterminal">
        <%= render 'activities_neterminal' %>
        </tbody>
      </table>
    </div>
    <br>

    <script type="application/javascript">

        your_onchange_handler = function () {
            $(".form").submit();

        }
        $(document).ready(function() {

            $('#active2').DataTable();
        } );
    </script>
<% end %>
