<!--
Copyright (c) 2015 - 2020 Ana-Cristina Turlea <turleaana@gmail.com>

Permission to use, copy, modify, and distribute this software for any
purpose with or without fee is hereby granted, provided that the above
copyright notice and this permission notice appear in all copies.

THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
-->

<div class="modal-header">

  <%= link_to '&times;'.html_safe, '', class: 'close', data: {dismiss: "modal"} %>
  <h3> Importa Grupe </h3>
</div>
<%= form_tag cohort_import_path(0), method: :post, remote: true, html: {class: "form-horizontal", style: "display:inline;"} do %>
    <div class="modal-body">
      <div class="panel-body">
        <div class=" has-error errors">
        </div>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="alert alert-info"> Pentru a adauga mai multe grupe scrie mai jos continutul unui CSV (de forma
            Denumire, DA sau NU daca este sau nu an terminal, Numar Studenti, Numar Optionale, Nume Departament)
          </div>
        </div>
        <div class="form-group">
          <%= text_area_tag :csv, '', class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= submit_tag 'Salveaza', class: "btn btn-primary" %>
      <%= link_to "Cancel", '', class: "btn btn-default", data: {dismiss: "modal"} %>
    </div>
<% end %>