<!--
Copyright (c) 2015 - 2020 Ana-Cristina Turlea <turleaana@gmail.com>

Permission to use, copy, modify, and distribute this software for any
purpose with or without fee is hereby granted, provided that the above
copyright notice and this permission notice appear in all copies.

THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
-->

<div class="well">
  <div class="col-md-4">

    <%= form_tag cohort_list_path, remote: true, class: "form-horizontal form", style: "display:inline;" do %>
        <%= select_tag :department, options_from_collection_for_select(@departments_select, 'id', 'name', '0'), include_blank: 'Toate', class: 'form-control ', :onChange => 'your_onchange_handler()' %>
    <% end %>
  </div>

  <%= link_to new_cohort_path, remote: true, class: 'btn btn-primary  btn-no-padding' do %>
  <span class="btn-label">
			<span class="fa  fa-plus"></span>
        </span>
      Adauga
  <% end %>
<!--  <%#= link_to cohort_import_from_app_path(0), action: :get, remote: true, class: 'btn btn-primary btn-no-padding' do %>
        <span class="btn-label">
			<span class="fa fa-upload"></span>
        </span>
      Importa de la autentificare
  <%# end %>-->
  <%= link_to cohort_import_path(0), action: :get, remote: true, class: 'btn btn-primary btn-no-padding' do %>
        <span class="btn-label">
			<span class="fa fa-upload"></span>
        </span>
      Importa CSV
  <% end %>
  <%= link_to cohort_download_path(0), action: :get, class: 'btn btn-primary btn-no-padding' ,  download:true do %>
        <span class="btn-label">
			<span class="fa fa-download"></span>
        </span>
      Descarca (CSV)
  <% end %>
</div>

<div class="table-responsive">

  <table class="table table-striped table-hover" id="cohortsTab" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Denumire</th>
      <th>An Terminal</th>
      <th>Numar Studenti</th>
      <th>Numar de Cursuri Optionale</th>
      <th>Departament</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="cohort-list">
    <%= render 'cohorts/cohort_list' %>
    </tbody>
  </table>
</div>
<br>

<script type="application/javascript">


    $(document).ready(function() {

        $('#cohortsTab').DataTable();
    } );
</script>